<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="DeltaTestsOne">
        <classes>
            <class name="deltaTests.testNGRelated.tests.TestSuiteOne">
                <methods>
                    <include name="openLoginPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>